{
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "singleAttributePerLine": false,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "preserve",
  "requirePragma": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "none",
  "vueIndentScriptAndStyle": false,
  "prettier.htmlWhitespaceSensitivity": "ignore",
  "prettier.ignorePath": ".prettierignore"
}