{
  "semi": false,
  "singleQuote": false,
  "printWidth": 150,
  "tabWidth": 2,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "embeddedLanguageFormatting": "auto"
}